<h1 *ngIf="!editform">Add Task</h1>
<h1 *ngIf="editform">Update Task</h1>

<form class="example-form"  #addCustomerFrom="ngForm" (submit)="savetask()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" [(ngModel)]="mytask.name" name="name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Date</mat-label>
      <input matInput placeholder="Date" type="datetime" [(ngModel)]="mytask.datetime" name="datetime">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" *ngIf="!editform"  type="submit">ADD TASK</button>
    <button mat-raised-button color="accent" *ngIf="editform" type="submit">Update TASK</button>
  </form>
  
